<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Src/Css/Settings.css">
</head>
<body>
    <section class="Settings">
        <form onSubmit="JavaScript:postData(event)"></form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js" integrity="sha512-2V49R8ndaagCOnwmj8QnbT1Gz/rie17UouD9Re5WxbzRVUGoftCu5IuqqtAM9+UC3fwfHCSJR1hkzNQh/2wdtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonform/2.2.5/jsonform.min.js" integrity="sha512-q3fVTC0QcyvW7QPTRiFZazbgZqGsAFyNNQjiyimwdfgm6O0iEM42jaLsWtgLe5YyDQJWODQ5yH7Ygtug7he9pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./Src/Js/Settings.js"></script>
</body>
</html>